html, body, figure, img, div, input, textarea, p, h1, h2, h3, h4, h5, h6, ul, li, a, main{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
/*-----Declarações gerais do site-----*/
a:visited{
    color: rgb(255, 166, 0);
}
a{
    color: rgb(255, 166, 0);
}
/* -----HEADER-----*/
header{
    background-color:  rgb(68, 39, 80);
    font-family: Gorditas;
    font-size: 30px;
}
.menu{   
    text-align: center;
}
.menu li{
    padding: 2%;
    margin-left: 2%;
    overflow: hidden;
}
.logo{
    width: 40%;
    margin: auto;
}
.logo img{
    width: 70%;
    text-align: center;
}
/*-----FOOTER-----*/
footer{
    background-color: rgb(236, 119, 65);
    padding: 20px;
    font-family: "Nanum Gothic";
    color: cornsilk;
    text-align: center;
}
footer li{
    padding: 10px;
}
footer .redes-sociais li{
    display: inline-block;
}
footer a{
    color: cornsilk;
}
footer a:visited{
    color: cornsilk;
}
.container-footer{
    padding: 20px;
    text-align: center;
}
.p-primario{
    font-size: 30px;
}
.redes-sociais img{
    width: 75px;
}
/*-----MAIN-----Raiz*/

main{
    background-image: url(./imagens/4094511.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 20px;
    padding-bottom: 20px;
}
main h1{
    font-size: 40px;
    padding: 10px;
}
main hr{
    width: 90%;
}
main h2{
    padding-top: 10px;
}
/*-----MAIN-----P-principal*/

.coluna-esquerda{
    padding: 0px;
    margin: 0;
    width: 100%;
    text-align: center;
    overflow: hidden;
}
.img-esquerda img{
    width: 80%;
}
.coluna-centro{
    display: none;
}
.img-centro img{
    width: 95%;
}
.coluna-direita{
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: center;
    overflow: hidden;
}
.img-direita img{
    width: 80%;
}

/*-----MAIN-----P-secundária*/

.container{
    font-family: Gorditas;
    font-size: 20px;
}
.container li{
    margin: auto;
    width: 20%;
    margin: 10px;
    margin: auto;
}
.tamanhos{
    background-color: rgba(248, 248, 248, 0.493);
    text-align: center;
    width: 90%;
    margin: auto;
    border-radius: 10%;
}
.tamanhos li{
    display: inline-block;
}
.trezentos-ml img{
    width: 90%;
}
.quatrocentos-ml img{
    width: 100%;
}
.quinhentos-ml img{
    width: 110%;
}
.barca img{
    width: 50%;
}
.ingredientes{
    background-color: rgba(248, 248, 248, 0.493);
    text-align: center;
    width: 90%;
    margin: auto;
    margin-top: 20px;
    border-radius: 10%;
}
.frutas img{
    width: 100%;
}
.adicionais img{
    width: 100%;
}
/*-----MAIN-----P-tercearia*/
.sobre{
    background-color: rgba(248, 248, 248, 0.493);
    text-align: center;
    width: 90%;
    margin: auto;
    padding: 10px;
    margin-top: 20px;
    font-family: "Nanum Gothic";
}
.sobre p{
    text-align: justify;
}


@media only screen and (min-width: 725px) {
    main{
        background-attachment: fixed;
    }
    /*HEADER DESKTOP*/
    .menu li{
        display: inline-block;
    }
    .logo{
        position: absolute;
        margin-top: 10px;
        width: 10%;
        margin-left: 10%;
    }
    /*FOOTER DESKTOP*/
    footer li{
        display: inline-block;
        padding: 20px;
    }
    .redes-sociais li a:hover img{
        transform: scale(1.2) translateY(-10px);
    }
    
    /*PAG PRIMARIA DESKTOP*/
    .coluna-esquerda{
        margin-left: 0.2%;
        width: 24.9%;
        display: inline-block;
    }
    .coluna-centro{
        padding: 0;
        margin: 0;
        width: 48.9%;
        display: inline-block;
        text-align: center;
        overflow: hidden;
    }
    .coluna-direita{
        width: 24.9%;
        display: inline-block;
    }
    /*PAG SECUNDARIA DESKTOP (CARDAPIO)*/
    .tamanhos{
        width: 50%;
    }
    .ingredientes{
        width: 50%;
    }
    .container li{
        display: inline-block;
        
    }
    .adicionais hr{
        display: none;
    }
    .frutas hr{
        display: none;
    }
    /*PAG TERCEARIO DESKTOP (SOBRE)*/
    .sobre{
        width: 50%;
        padding: 40px;
        border-radius: 10%;
    }
}
